.content {
  padding: 20px;
  position: relative;
  z-index: 1;
  background: #f8f9fa;
  min-height: calc(100vh - 70px);
  
  &:has(.home) {
    padding: 0;
    padding-top: 70px;
    background: transparent;
    
    @media (max-width: 768px) {
      padding-top: 60px;
    }
  }
}
