.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #222;
  color: white;
}

nav a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
