<header class="navbar">
  <div class="logo" routerLink="/">GymManager</div>

  <nav>
  <ng-container *ngIf="currentUser$ | async as user; else guestNav">
    <a *ngFor="let link of navLinks[user.role]" [routerLink]="link.path">{{ link.label }}</a>
  </ng-container>

  <ng-template #guestNav>
    <a *ngFor="let link of navLinks['guest']" [routerLink]="link.path">{{ link.label }}</a>
  </ng-template>
</nav>


  <div class="auth-actions">
    <ng-container *ngIf="currentUser$ | async as user; else guestLinks">
      <span class="user-info">{{ getUserDisplayName(user) }} ({{ user.role }})</span>
      <button mat-button color="accent" (click)="logout()">Logout</button>
    </ng-container>

    <ng-template #guestLinks>
      <button mat-stroked-button routerLink="/login">Login</button>
      <button mat-flat-button color="primary" routerLink="/register">Register</button>
    </ng-template>
  </div>
</header>
