<section class="auth-card">
  <h2>Registration</h2>

  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <label>
      Email
      <input type="email" formControlName="email" placeholder="you@example.com" />
    </label>
    <div class="error" *ngIf="form.controls.email.invalid && form.controls.email.touched">
      Enter a valid email address.
    </div>

    <label>
      Password
      <input type="password" formControlName="password" placeholder="••••••••" />
    </label>
    <div class="error" *ngIf="form.controls.password.invalid && form.controls.password.touched">
      Password must be at least 6 characters long.
    </div>

    <label>
      Role
      <select formControlName="role">
        <option value="member">Member</option>
        <option value="trainer">Trainer</option>
      </select>
    </label>

    <!-- Member specific fields -->
    <div *ngIf="form.controls.role.value === 'member'" class="role-section">
      <h3>Member data</h3>

      <label>
        Name and surname
        <input type="text" formControlName="memberName" placeholder="Unesite ime člana" />
      </label>
      <div class="error" *ngIf="form.controls.memberName.invalid && form.controls.memberName.touched">
        This field is required.
      </div>

      <label>
        Level
        <select formControlName="memberLevel">
          <option value="" disabled selected>Select level</option>
          <option value="beginner">Beginner</option>
          <option value="medium">Intermediate</option>
          <option value="expert">Advanced</option>
        </select>
      </label>
      <div class="error" *ngIf="form.controls.memberLevel.invalid && form.controls.memberLevel.touched">
          Choose member level.
      </div>

      <label>
        Gender
        <select formControlName="memberGender">
          <option value="" disabled selected>Select gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </label>
      <div class="error" *ngIf="form.controls.memberGender.invalid && form.controls.memberGender.touched">
        This field is required.
      </div>


      <label>
        Date of birth
        <input type="date" formControlName="memberDateOfBirth" />
      </label>
      <div class="error" *ngIf="form.controls.memberDateOfBirth.invalid && form.controls.memberDateOfBirth.touched">
        This field is required.
      </div>
    </div>

    <!-- Trainer specific fields -->
    <div *ngIf="form.controls.role.value === 'trainer'" class="role-section">
      <h3>Trainer data</h3>

      <label>
        Name and surname
        <input type="text" formControlName="trainerName" placeholder="Enter trainer name" />
      </label>
      <div class="error" *ngIf="form.controls.trainerName.invalid && form.controls.trainerName.touched">
        This field is required.
      </div>

      <label>
        Specialty
          <input type="text" formControlName="trainerSpecialty" placeholder="e.g. Fitness, Crossfit, etc." />
      </label>
      <div class="error" *ngIf="form.controls.trainerSpecialty.invalid && form.controls.trainerSpecialty.touched">
        This field is required.
      </div>

      <label>
        Experience (years)
        <input type="number" formControlName="trainerExperienceYears" min="0" />
      </label>
      <div class="error" *ngIf="form.controls.trainerExperienceYears.invalid && form.controls.trainerExperienceYears.touched">
        Enter the number of years of experience (0 or more).
      </div>

      <label>
        Gender
        <select formControlName="trainerGender">
          <option value="" disabled selected>Select gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </label>
      <div class="error" *ngIf="form.controls.trainerGender.invalid && form.controls.trainerGender.touched">
        This field is required.
      </div>


      <label>
        Date of birth
        <input type="date" formControlName="trainerDateOfBirth" />
      </label>
      <div class="error" *ngIf="form.controls.trainerDateOfBirth.invalid && form.controls.trainerDateOfBirth.touched">
        This field is required.
      </div>
    </div>

    <div class="error" *ngIf="authError">
      {{ authError }}
    </div>

    <button type="submit" [disabled]="isSubmitting">
      {{ isSubmitting ? 'Creating account...' : 'Register' }}
    </button>
  </form>

  <p class="switch">
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</section>

