<h2>{{ memberId ? 'Edit Member' : 'Add Member' }}</h2>

<form [formGroup]="memberForm" (ngSubmit)="save()">
  <label>
    Name:
    <input type="text" formControlName="name"/>
  </label>
  <br />
  <label>
    Level:
    <select formControlName="level">
      <option value="beginner">Beginner</option>
      <option value="medium">Medium</option>
      <option value="expert">Expert</option>
    </select>
  </label>
  <br />
  <label>
    Package:
    <select formControlName="packageId">
      <option [value]="null">No package</option>
      <option *ngFor="let pkg of packages" [value]="pkg.id">
        {{ pkg.name }} - {{ pkg.price }}€
      </option>
    </select>
  </label>
  <br />
  <label>
    Active:
    <input type="checkbox" formControlName="isActive" />
  </label>
  <br />
  <button type="submit">{{ memberId ? 'Update' : 'Add' }}</button>
</form>
